In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1.	Valentino – PNW regulated market - Merchant
2.	Mantero – MISO - Merchant
3.	Howling Gale – MISO - Merchant
4.	Ventus Village – PJM – Merchant
5.	Salmon Valley – ERCOT - Merchant

In [3]:
df_mantero = pd.read_csv("./../mantero.csv")
df_howling = pd.read_csv("./../howling_gale.csv")

In [4]:
df_mantero.head()

,Timestamp,Year,Month,Day,Hour Ending,Maximum energy deliverable before curtailment (MWh),Energy actually delivered (MWh),Curtailment (MWh),Price ($/MWh) at the nodal level in the Real Time market
0,1/1/2023 1:00,2023,1,1,1,52.7,52.7,0,25.93
1,1/1/2023 2:00,2023,1,1,2,41.1,41.1,0,21.98
2,1/1/2023 3:00,2023,1,1,3,39.6,39.6,0,23.30
3,1/1/2023 4:00,2023,1,1,4,43.2,43.2,0,21.40
4,1/1/2023 5:00,2023,1,1,5,34.8,34.8,0,22.16

In [6]:
df_gen_all = pd.read_csv("./miso_gen_all_hr_2023.csv", header=3)

In [7]:
df_gen_all.head()

,UTC Timestamp (Interval Ending),Local Timestamp Eastern Standard Time (Interval Beginning),Local Timestamp Eastern Standard Time (Interval Ending),Local Date,Hour Number,MISO Total Total Generation (MW),MISO Total Coal Generation (MW),MISO Total Gas Generation (MW),MISO Total Hydro Generation (MW),MISO Total Nuclear Generation (MW),...,North Storage Generation (MW),North Wind Generation (MW),South Total Generation (MW),South Coal Generation (MW),South Gas Generation (MW),South Hydro Generation (MW),South Nuclear Generation (MW),South Other Generation (MW),South Solar Generation (MW),South Wind Generation (MW)
0,2023-01-01 06:00:00,2023-01-01 00:00:00,2023-01-01 01:00:00,2023-01-01,1,60499.7,20956.5,16788.0,1021.5,11190.4,...,0.0,6265.5,17122.5,1207.9,10455.1,257.1,4666.8,535.6,0.0,NaN
1,2023-01-01 07:00:00,2023-01-01 01:00:00,2023-01-01 02:00:00,2023-01-01,2,57909.8,18936.4,15866.9,991.6,11213.7,...,0.0,6787.4,16756.4,1208.0,10055.3,268.6,4687.9,536.6,0.0,NaN
2,2023-01-01 08:00:00,2023-01-01 02:00:00,2023-01-01 03:00:00,2023-01-01,3,56790.3,17904.6,16133.6,969.1,11249.4,...,0.0,6902.9,16913.3,1207.8,10178.2,269.1,4721.4,536.8,0.0,NaN
3,2023-01-01 09:00:00,2023-01-01 03:00:00,2023-01-01 04:00:00,2023-01-01,4,55732.0,17488.1,15249.5,944.6,11284.6,...,0.0,7401.6,16602.8,1210.3,9839.9,259.0,4757.2,536.4,0.0,NaN
4,2023-01-01 10:00:00,2023-01-01 04:00:00,2023-01-01 05:00:00,2023-01-01,5,55512.8,17270.9,14571.9,936.7,11332.8,...,0.0,8019.8,16245.5,1207.8,9436.2,257.9,4806.7,536.9,0.0,NaN

In [ ]:
df_gen_all["Hour Number"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [10]:
def make_timestamp(df):
    local_time_beginning = df["Local Timestamp Eastern Standard Time (Interval Beginning)"]
    df["Hour Ending"] = local_time_beginning.str.split(" ").str[1].str.split(":").str[0].astype(int) + 1
    df["Timestamp"] = local_time_beginning.str.split(" ").str[0] + " " + df["Hour Ending"].astype(str) + ":00"
    df["Timestamp"] = df["Timestamp"].str.replace("-", "/")
    df["Year"] = local_time_beginning.str.split(" ").str[0].str.split("-").str[0]
    df["Month"] = local_time_beginning.str.split(" ").str[0].str.split("-").str[1].str.lstrip("0")
    df["Day"] = local_time_beginning.str.split(" ").str[0].str.split("-").str[2].str.lstrip("0")
    df["Year"] = df["Year"].astype(int)
    df["Month"] = df["Month"].astype(int)
    df["Day"] = df["Day"].astype(int)
    return df

In [11]:
df_gen_all = make_timestamp(df_gen_all)

In [12]:
df_gen_all.head()

,UTC Timestamp (Interval Ending),Local Timestamp Eastern Standard Time (Interval Beginning),Local Timestamp Eastern Standard Time (Interval Ending),Local Date,Hour Number,MISO Total Total Generation (MW),MISO Total Coal Generation (MW),MISO Total Gas Generation (MW),MISO Total Hydro Generation (MW),MISO Total Nuclear Generation (MW),...,South Hydro Generation (MW),South Nuclear Generation (MW),South Other Generation (MW),South Solar Generation (MW),South Wind Generation (MW),Hour Ending,Timestamp,Year,Month,Day
0,2023-01-01 06:00:00,2023-01-01 00:00:00,2023-01-01 01:00:00,2023-01-01,1,60499.7,20956.5,16788.0,1021.5,11190.4,...,257.1,4666.8,535.6,0.0,NaN,1,2023/01/01 1:00,2023,1,1
1,2023-01-01 07:00:00,2023-01-01 01:00:00,2023-01-01 02:00:00,2023-01-01,2,57909.8,18936.4,15866.9,991.6,11213.7,...,268.6,4687.9,536.6,0.0,NaN,2,2023/01/01 2:00,2023,1,1
2,2023-01-01 08:00:00,2023-01-01 02:00:00,2023-01-01 03:00:00,2023-01-01,3,56790.3,17904.6,16133.6,969.1,11249.4,...,269.1,4721.4,536.8,0.0,NaN,3,2023/01/01 3:00,2023,1,1
3,2023-01-01 09:00:00,2023-01-01 03:00:00,2023-01-01 04:00:00,2023-01-01,4,55732.0,17488.1,15249.5,944.6,11284.6,...,259.0,4757.2,536.4,0.0,NaN,4,2023/01/01 4:00,2023,1,1
4,2023-01-01 10:00:00,2023-01-01 04:00:00,2023-01-01 05:00:00,2023-01-01,5,55512.8,17270.9,14571.9,936.7,11332.8,...,257.9,4806.7,536.9,0.0,NaN,5,2023/01/01 5:00,2023,1,1

In [13]:
df_gen_copy = df_gen_all.copy()

In [14]:
index_cols = ["Year", "Month", "Day", "Hour Ending"]

In [15]:
df_gen_copy.drop(columns=["Timestamp"], inplace=True)

In [16]:
df_mantero_merge = pd.merge(df_gen_copy, df_mantero, on=index_cols)

In [17]:
df_mantero_merge.head()

,UTC Timestamp (Interval Ending),Local Timestamp Eastern Standard Time (Interval Beginning),Local Timestamp Eastern Standard Time (Interval Ending),Local Date,Hour Number,MISO Total Total Generation (MW),MISO Total Coal Generation (MW),MISO Total Gas Generation (MW),MISO Total Hydro Generation (MW),MISO Total Nuclear Generation (MW),...,South Wind Generation (MW),Hour Ending,Year,Month,Day,Timestamp,Maximum energy deliverable before curtailment (MWh),Energy actually delivered (MWh),Curtailment (MWh),Price ($/MWh) at the nodal level in the Real Time market
0,2023-01-01 06:00:00,2023-01-01 00:00:00,2023-01-01 01:00:00,2023-01-01,1,60499.7,20956.5,16788.0,1021.5,11190.4,...,NaN,1,2023,1,1,1/1/2023 1:00,52.7,52.7,0,25.93
1,2023-01-01 07:00:00,2023-01-01 01:00:00,2023-01-01 02:00:00,2023-01-01,2,57909.8,18936.4,15866.9,991.6,11213.7,...,NaN,2,2023,1,1,1/1/2023 2:00,41.1,41.1,0,21.98
2,2023-01-01 08:00:00,2023-01-01 02:00:00,2023-01-01 03:00:00,2023-01-01,3,56790.3,17904.6,16133.6,969.1,11249.4,...,NaN,3,2023,1,1,1/1/2023 3:00,39.6,39.6,0,23.30
3,2023-01-01 09:00:00,2023-01-01 03:00:00,2023-01-01 04:00:00,2023-01-01,4,55732.0,17488.1,15249.5,944.6,11284.6,...,NaN,4,2023,1,1,1/1/2023 4:00,43.2,43.2,0,21.40
4,2023-01-01 10:00:00,2023-01-01 04:00:00,2023-01-01 05:00:00,2023-01-01,5,55512.8,17270.9,14571.9,936.7,11332.8,...,NaN,5,2023,1,1,1/1/2023 5:00,34.8,34.8,0,22.16

In [18]:
df_mantero_merge.columns

Index(['UTC Timestamp (Interval Ending)',
       'Local Timestamp Eastern Standard Time (Interval Beginning)',
       'Local Timestamp Eastern Standard Time (Interval Ending)', 'Local Date',
       'Hour Number', 'MISO Total Total Generation (MW)',
       'MISO Total Coal Generation (MW)', 'MISO Total Gas Generation (MW)',
       'MISO Total Hydro Generation (MW)',
       'MISO Total Nuclear Generation (MW)',
       'MISO Total Other Generation (MW)', 'MISO Total Solar Generation (MW)',
       'MISO Total Storage Generation (MW)', 'MISO Total Wind Generation (MW)',
       'Central Total Generation (MW)', 'Central Coal Generation (MW)',
       'Central Gas Generation (MW)', 'Central Hydro Generation (MW)',
       'Central Nuclear Generation (MW)', 'Central Other Generation (MW)',
       'Central Solar Generation (MW)', 'Central Storage Generation (MW)',
       'Central Wind Generation (MW)', 'North Total Generation (MW)',
       'North Coal Generation (MW)', 'North Gas Generation (MW)',
       'North Hydro Generation (MW)', 'North Nuclear Generation (MW)',
       'North Other Generation (MW)', 'North Solar Generation (MW)',
       'North Storage Generation (MW)', 'North Wind Generation (MW)',
       'South Total Generation (MW)', 'South Coal Generation (MW)',
       'South Gas Generation (MW)', 'South Hydro Generation (MW)',
       'South Nuclear Generation (MW)', 'South Other Generation (MW)',
       'South Solar Generation (MW)', 'South Wind Generation (MW)',
       'Hour Ending', 'Year', 'Month', 'Day', 'Timestamp',
       'Maximum energy deliverable before curtailment (MWh)',
       'Energy actually delivered (MWh)', 'Curtailment (MWh)',
       'Price ($/MWh) at the nodal level in the Real Time market'],
      dtype='object')

In [23]:
df_load_act = pd.read_csv("./miso_load_act_hr_2023.csv", header=3)
df_load_for = pd.read_csv("./miso_load_for_hr_2023.csv", header=3)
df_load_act = make_timestamp(df_load_act)
df_load_for = make_timestamp(df_load_for)

In [27]:
df_load_for.head()

,UTC Timestamp (Interval Ending),Local Timestamp Eastern Standard Time (Interval Beginning),Local Timestamp Eastern Standard Time (Interval Ending),Local Date,Hour Number,MISO Total Forecast Load (MW),"LRZ 1 (States: MT, ND, SD, MN, WI, IL)\nBalancing Authorities: DPC, GRE, MDU, MP, NSP, OTP, SMP Forecast Load (MW)","LRZ 2, 7 (States: WI, MI)\nBalancing Authorities: ALTE, MGE, UPPC, WEC, WPS, MIUP, CONS, DECO Forecast Load (MW)","LRZ 3, 5 (States: MN, IA, KS, IL)\nBalancing Authorities: ALTW, MEC, MPW, AMMO, CWLD Forecast Load (MW)","LRZ 4 (States: IL)\nBalancing Authorities: AMIL, CWLP, SIPC Forecast Load (MW)","LRZ 6 (States: IN)\nBalancing Authorities: BREC, CIN, HE, IPL, NIPSCO, SIGE Forecast Load (MW)","LRZ 8, 9, 10 (States: MO, TX, MS, AL)\nBalancing Authorities: EAI, CLEC, EES, LAFA, LAGN, LEPA, EMBA, SME Forecast Load (MW)",Hour Ending,Timestamp,Year,Month,Day
0,2023-01-01 06:00:00,2023-01-01 00:00:00,2023-01-01 01:00:00,2023-01-01,1,62555.0,10446.0,14492.0,8934.0,4550.0,8339.0,15794.0,1,2023/01/01 1:00,2023,1,1
1,2023-01-01 07:00:00,2023-01-01 01:00:00,2023-01-01 02:00:00,2023-01-01,2,60658.0,10148.0,14035.0,8684.0,4400.0,8141.0,15250.0,2,2023/01/01 2:00,2023,1,1
2,2023-01-01 08:00:00,2023-01-01 02:00:00,2023-01-01 03:00:00,2023-01-01,3,59459.0,9957.0,13744.0,8552.0,4314.0,8011.0,14881.0,3,2023/01/01 3:00,2023,1,1
3,2023-01-01 09:00:00,2023-01-01 03:00:00,2023-01-01 04:00:00,2023-01-01,4,59622.0,9861.0,14369.0,8507.0,4270.0,7934.0,14681.0,4,2023/01/01 4:00,2023,1,1
4,2023-01-01 10:00:00,2023-01-01 04:00:00,2023-01-01 05:00:00,2023-01-01,5,59331.0,9840.0,14277.0,8502.0,4227.0,7887.0,14598.0,5,2023/01/01 5:00,2023,1,1

In [24]:
df_load_act.head()

,UTC Timestamp (Interval Ending),Local Timestamp Eastern Standard Time (Interval Beginning),Local Timestamp Eastern Standard Time (Interval Ending),Local Date,Hour Number,MISO Total Actual Load (MW),"LRZ 1 (States: MT, ND, SD, MN, WI, IL)\nBalancing Authorities: DPC, GRE, MDU, MP, NSP, OTP, SMP Actual Load (MW)","LRZ 2, 7 (States: WI, MI)\nBalancing Authorities: ALTE, MGE, UPPC, WEC, WPS, MIUP, CONS, DECO Actual Load (MW)","LRZ 3, 5 (States: MN, IA, KS, IL)\nBalancing Authorities: ALTW, MEC, MPW, AMMO, CWLD Actual Load (MW)","LRZ 4 (States: IL)\nBalancing Authorities: AMIL, CWLP, SIPC Actual Load (MW)","LRZ 6 (States: IN)\nBalancing Authorities: BREC, CIN, HE, IPL, NIPSCO, SIGE Actual Load (MW)","LRZ 8, 9, 10 (States: MO, TX, MS, AL)\nBalancing Authorities: EAI, CLEC, EES, LAFA, LAGN, LEPA, EMBA, SME Actual Load (MW)",Hour Ending,Timestamp,Year,Month,Day
0,2023-01-01 06:00:00,2023-01-01 00:00:00,2023-01-01 01:00:00,2023-01-01,1,63070.04,10296.05,14758.67,8743.95,4484.00,8747.63,16039.74,1,2023/01/01 1:00,2023,1,1
1,2023-01-01 07:00:00,2023-01-01 01:00:00,2023-01-01 02:00:00,2023-01-01,2,61633.42,10001.69,14287.62,8539.76,4363.72,8653.46,15787.17,2,2023/01/01 2:00,2023,1,1
2,2023-01-01 08:00:00,2023-01-01 02:00:00,2023-01-01 03:00:00,2023-01-01,3,60371.54,9801.17,13952.18,8382.17,4257.72,8419.03,15559.27,3,2023/01/01 3:00,2023,1,1
3,2023-01-01 09:00:00,2023-01-01 03:00:00,2023-01-01 04:00:00,2023-01-01,4,59517.65,9683.56,13735.30,8283.29,4179.97,8268.66,15366.87,4,2023/01/01 4:00,2023,1,1
4,2023-01-01 10:00:00,2023-01-01 04:00:00,2023-01-01 05:00:00,2023-01-01,5,59121.89,9648.40,13604.44,8281.63,4132.23,8235.78,15219.41,5,2023/01/01 5:00,2023,1,1

In [25]:
df_load_act_only = df_load_act[index_cols + ["MISO Total Actual Load (MW)"]]
df_mantero_merge_act = pd.merge(df_mantero_merge, df_load_act_only, on=index_cols)
df_mantero_merge_act.head()

,UTC Timestamp (Interval Ending),Local Timestamp Eastern Standard Time (Interval Beginning),Local Timestamp Eastern Standard Time (Interval Ending),Local Date,Hour Number,MISO Total Total Generation (MW),MISO Total Coal Generation (MW),MISO Total Gas Generation (MW),MISO Total Hydro Generation (MW),MISO Total Nuclear Generation (MW),...,Hour Ending,Year,Month,Day,Timestamp,Maximum energy deliverable before curtailment (MWh),Energy actually delivered (MWh),Curtailment (MWh),Price ($/MWh) at the nodal level in the Real Time market,MISO Total Actual Load (MW)
0,2023-01-01 06:00:00,2023-01-01 00:00:00,2023-01-01 01:00:00,2023-01-01,1,60499.7,20956.5,16788.0,1021.5,11190.4,...,1,2023,1,1,1/1/2023 1:00,52.7,52.7,0,25.93,63070.04
1,2023-01-01 07:00:00,2023-01-01 01:00:00,2023-01-01 02:00:00,2023-01-01,2,57909.8,18936.4,15866.9,991.6,11213.7,...,2,2023,1,1,1/1/2023 2:00,41.1,41.1,0,21.98,61633.42
2,2023-01-01 08:00:00,2023-01-01 02:00:00,2023-01-01 03:00:00,2023-01-01,3,56790.3,17904.6,16133.6,969.1,11249.4,...,3,2023,1,1,1/1/2023 3:00,39.6,39.6,0,23.30,60371.54
3,2023-01-01 09:00:00,2023-01-01 03:00:00,2023-01-01 04:00:00,2023-01-01,4,55732.0,17488.1,15249.5,944.6,11284.6,...,4,2023,1,1,1/1/2023 4:00,43.2,43.2,0,21.40,59517.65
4,2023-01-01 10:00:00,2023-01-01 04:00:00,2023-01-01 05:00:00,2023-01-01,5,55512.8,17270.9,14571.9,936.7,11332.8,...,5,2023,1,1,1/1/2023 5:00,34.8,34.8,0,22.16,59121.89

In [28]:
df_load_for_only = df_load_for[index_cols + ["MISO Total Forecast Load (MW)"]]
df_mantero_merge_act_for = pd.merge(df_mantero_merge_act, df_load_for_only, on=index_cols)
df_mantero_merge_act_for.head()

,UTC Timestamp (Interval Ending),Local Timestamp Eastern Standard Time (Interval Beginning),Local Timestamp Eastern Standard Time (Interval Ending),Local Date,Hour Number,MISO Total Total Generation (MW),MISO Total Coal Generation (MW),MISO Total Gas Generation (MW),MISO Total Hydro Generation (MW),MISO Total Nuclear Generation (MW),...,Year,Month,Day,Timestamp,Maximum energy deliverable before curtailment (MWh),Energy actually delivered (MWh),Curtailment (MWh),Price ($/MWh) at the nodal level in the Real Time market,MISO Total Actual Load (MW),MISO Total Forecast Load (MW)
0,2023-01-01 06:00:00,2023-01-01 00:00:00,2023-01-01 01:00:00,2023-01-01,1,60499.7,20956.5,16788.0,1021.5,11190.4,...,2023,1,1,1/1/2023 1:00,52.7,52.7,0,25.93,63070.04,62555.0
1,2023-01-01 07:00:00,2023-01-01 01:00:00,2023-01-01 02:00:00,2023-01-01,2,57909.8,18936.4,15866.9,991.6,11213.7,...,2023,1,1,1/1/2023 2:00,41.1,41.1,0,21.98,61633.42,60658.0
2,2023-01-01 08:00:00,2023-01-01 02:00:00,2023-01-01 03:00:00,2023-01-01,3,56790.3,17904.6,16133.6,969.1,11249.4,...,2023,1,1,1/1/2023 3:00,39.6,39.6,0,23.30,60371.54,59459.0
3,2023-01-01 09:00:00,2023-01-01 03:00:00,2023-01-01 04:00:00,2023-01-01,4,55732.0,17488.1,15249.5,944.6,11284.6,...,2023,1,1,1/1/2023 4:00,43.2,43.2,0,21.40,59517.65,59622.0
4,2023-01-01 10:00:00,2023-01-01 04:00:00,2023-01-01 05:00:00,2023-01-01,5,55512.8,17270.9,14571.9,936.7,11332.8,...,2023,1,1,1/1/2023 5:00,34.8,34.8,0,22.16,59121.89,59331.0

In [26]:
df_mantero_merge_act.columns

Index(['UTC Timestamp (Interval Ending)',
       'Local Timestamp Eastern Standard Time (Interval Beginning)',
       'Local Timestamp Eastern Standard Time (Interval Ending)', 'Local Date',
       'Hour Number', 'MISO Total Total Generation (MW)',
       'MISO Total Coal Generation (MW)', 'MISO Total Gas Generation (MW)',
       'MISO Total Hydro Generation (MW)',
       'MISO Total Nuclear Generation (MW)',
       'MISO Total Other Generation (MW)', 'MISO Total Solar Generation (MW)',
       'MISO Total Storage Generation (MW)', 'MISO Total Wind Generation (MW)',
       'Central Total Generation (MW)', 'Central Coal Generation (MW)',
       'Central Gas Generation (MW)', 'Central Hydro Generation (MW)',
       'Central Nuclear Generation (MW)', 'Central Other Generation (MW)',
       'Central Solar Generation (MW)', 'Central Storage Generation (MW)',
       'Central Wind Generation (MW)', 'North Total Generation (MW)',
       'North Coal Generation (MW)', 'North Gas Generation (MW)',
       'North Hydro Generation (MW)', 'North Nuclear Generation (MW)',
       'North Other Generation (MW)', 'North Solar Generation (MW)',
       'North Storage Generation (MW)', 'North Wind Generation (MW)',
       'South Total Generation (MW)', 'South Coal Generation (MW)',
       'South Gas Generation (MW)', 'South Hydro Generation (MW)',
       'South Nuclear Generation (MW)', 'South Other Generation (MW)',
       'South Solar Generation (MW)', 'South Wind Generation (MW)',
       'Hour Ending', 'Year', 'Month', 'Day', 'Timestamp',
       'Maximum energy deliverable before curtailment (MWh)',
       'Energy actually delivered (MWh)', 'Curtailment (MWh)',
       'Price ($/MWh) at the nodal level in the Real Time market',
       'MISO Total Actual Load (MW)'],
      dtype='object')